# Introdução a Ciência dos Dados - Atividade 2

<span style="position: absolute; top: 10px; right: 10px; background: green; padding: 0.5em; color: white; border-radius: 0.25em; font-weight: bold">Vaux Gomes</span>

## Préprocessamento

#### Bibliotecas

In [1]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#### Loading

In [2]:
df = pd.read_csv('../data/iphone-olx-ce-raw.csv', index_col=0)
df.head(3)

,id,adDate,state,region,zipcode,areaCode,category,paidPromotion,subject,eletronicsBrand,eletronicsModel,storage,color,batteryHealth,eletronicsCondition,price,pictures,sellerName,url
0,1.188658e+09,1.684963e+09,CE,Fortaleza,60135270,85,Celulares e telefonia,True,IPhone XR-256gb,APPLE,IPHONE XR,256GB,Preto,Boa (80% até 94%),Usado - Excelente,2800.0,5.0,Daniel,https://ce.olx.com.br/fortaleza-e-regiao/celul...
1,1.187839e+09,1.684962e+09,CE,Fortaleza,60440180,85,Celulares e telefonia,True,Iphone 12 128gb muito conservado.,APPLE,IPHONE 12,128GB,Dourado,Boa (80% até 94%),Usado - Excelente,3000.0,5.0,Emanuel,https://ce.olx.com.br/fortaleza-e-regiao/celul...
2,1.175826e+09,1.684962e+09,CE,Fortaleza,60810820,85,Celulares e telefonia,True,iPhone 11 128gb único dono com Nota Fiscal,APPLE,IPHONE 11,128GB,Preto,Boa (80% até 94%),Usado - Excelente,2400.0,6.0,H Colares,https://ce.olx.com.br/fortaleza-e-regiao/celul...

In [3]:
df.shape

(1523, 19)

### Análise das colunas

| #  | Coluna                | Descrição                             | #  | Coluna                | Descrição                             |
| -- | --------------------- | ------------------------------------- | -- | --------------------- | ------------------------------------- |
| 01 | **id**                  | Identificador do anúncio              | 11 | **eletronicsModel**     | Modelo do produto                     |
| 02 | **adDate**              | Data do anúncio                       | 12 | **storage**             | Capacidade de armazenamento           |
| 03 | **state**               | Estado (UF)                           | 13 | **color**               | Cor                                   |
| 04 | **region**              | Macro Região                          | 14 | **batteryHealth**       | Saúde da bateria                      |
| 05 | **zipcode**             | CEP                                   | 15 | **eletronicsCondition** | Condição do produto                   |
| 06 | **areaCode**            | DDD                                   | 16 | **price**               | Preço                                 |
| 07 | **category**            | Categoria do produto                  | 17 | **pictures**            | Número de fotos do anúncio            |
| 08 | **paidPromotion**       | Y.N oferta paga                       | 18 | **sellerName**          | Nome do vendedor                      |
| 09 | **subject**             | Título da oferta                      | 19 | **url**                 | URL da oferta (pode não existir mais) |
| 10 | **eletronicsBrand**     | Marca do produto                      | -  | - |

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1523 entries, 0 to 1531
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1523 non-null   float64
 1   adDate               1523 non-null   float64
 2   state                1523 non-null   object
 3   region               1523 non-null   object
 4   zipcode              1523 non-null   int64
 5   areaCode             1523 non-null   int64
 6   category             1523 non-null   object
 7   paidPromotion        1523 non-null   bool
 8   subject              1523 non-null   object
 9   eletronicsBrand      1410 non-null   object
 10  eletronicsModel      1410 non-null   object
 11  storage              1355 non-null   object
 12  color                1345 non-null   object
 13  batteryHealth        1299 non-null   object
 14  eletronicsCondition  1394 non-null   object
 15  price                1514 non-null   float64
 16  pictures             1523 non-null   float64
 17  sellerName           1523 non-null   object
 18  url                  1523 non-null   object
dtypes: bool(1), float64(4), int64(2), object(12)
memory usage: 227.6+ KB

### Melhorando representação

In [5]:
df.describe(include='all')

,id,adDate,state,region,zipcode,areaCode,category,paidPromotion,subject,eletronicsBrand,eletronicsModel,storage,color,batteryHealth,eletronicsCondition,price,pictures,sellerName,url
count,1.523000e+03,1.523000e+03,1523,1523,1.523000e+03,1523.000000,1523,1523,1523,1410,1410,1355,1345,1299,1394,1.514000e+03,1523.000000,1523,1523
unique,NaN,NaN,1,36,NaN,NaN,17,2,1105,5,31,10,14,5,5,NaN,NaN,1206,1494
top,NaN,NaN,CE,Fortaleza,NaN,NaN,Celulares e telefonia,False,iPhone 8 Plus,APPLE,IPHONE 11,64GB,Preto,Boa (80% até 94%),Usado - Excelente,NaN,NaN,KIOSKCELL,https://ce.olx.com.br/fortaleza-e-regiao/celul...
freq,NaN,NaN,1523,1211,NaN,NaN,1418,1482,26,1382,257,661,321,572,927,NaN,NaN,48,3
mean,1.186288e+09,1.684894e+09,NaN,NaN,6.080998e+07,85.128037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.604759e+03,3.946159,NaN,NaN
std,9.694814e+06,5.335335e+04,NaN,NaN,7.451239e+05,0.606596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.990715e+04,1.701353,NaN,NaN
min,8.774471e+08,1.684762e+09,NaN,NaN,6.000000e+07,85.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,1.000000,NaN,NaN
25%,1.186037e+09,1.684860e+09,NaN,NaN,6.032282e+07,85.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.100000e+03,2.000000,NaN,NaN
50%,1.188521e+09,1.684885e+09,NaN,NaN,6.054506e+07,85.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.850000e+03,4.000000,NaN,NaN
75%,1.189170e+09,1.684944e+09,NaN,NaN,6.086222e+07,85.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000e+03,6.000000,NaN,NaN
max,1.189676e+09,1.684971e+09,NaN,NaN,6.366000e+07,88.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.500000e+06,6.000000,NaN,NaN

In [6]:
# Removing non descriptive columns
df.drop(columns=['id', 'url', 'state', 'eletronicsBrand'], inplace=True)

#### Filtering by MODEL

In [7]:
df.eletronicsModel.value_counts()

eletronicsModel
IPHONE 11            257
IPHONE XR            147
IPHONE 8 PLUS        137
IPHONE 7             101
IPHONE 7 PLUS         96
IPHONE 8              89
IPHONE 12             70
IPHONE 11 PRO MAX     57
IPHONE 13 PRO MAX     53
IPHONE X              49
IPHONE 13             48
OUTROS                41
IPHONE 6S             36
IPHONE 14 PRO MAX     34
IPHONE 12 PRO MAX     34
IPHONE XS MAX         25
IPHONE 14             18
IPHONE 11 PRO         16
IPHONE XS             16
IPHONE 12 PRO         15
IPHONE 6              14
IPHONE 14 PRO         11
IPHONE 13 PRO         11
IPHONE SE 2020         9
IPHONE 14 PLUS         8
IPHONE 12 MINI         7
IPHONE 6S PLUS         6
IPHONE 13 MINI         2
GALAXY A12             1
MOTO G7 PLAY           1
MI NOTE 10             1
Name: count, dtype: int64

In [8]:
df = df[df.eletronicsModel.str.startswith('IPHONE', na=False)]
df.shape

(1366, 15)

### Trantando valores NaN

In [9]:
print("Colunas com NaN")
df.isna().any()

Colunas com NaN

adDate                 False
region                 False
zipcode                False
areaCode               False
category               False
paidPromotion          False
subject                False
eletronicsModel        False
storage                 True
color                   True
batteryHealth           True
eletronicsCondition     True
price                   True
pictures               False
sellerName             False
dtype: bool

#### Storage

In [10]:
# Removendo NaN
df.dropna(subset=['storage'], inplace=True)

# Removendo anúncios com MB (Apenas 2)
df = df[~df.storage.str.endswith('MB')]

In [11]:
def parse_storage(x):
    if x.storage.find('TB') > 0:
        return int(x.storage.replace('TB', ''))*1024
    else:
        return int(x.storage.replace('GB', ''))
    
df['storageGB'] = df.apply(parse_storage, axis=1)

df.storageGB.value_counts()

storageGB
64      636
128     407
256     132
32      100
16       13
512      12
8         4
4         2
1024      1
Name: count, dtype: int64

#### Color

In [12]:
# Normalização dos textos dos anúncios (remoção de acentos)
df.subject = df.subject.str.normalize('NFKD').str.encode('ascii',errors='ignore').str.decode('utf-8')

# Alguns anúcios não tem a cor definida, então podemos buscar no título do anúncio 
print('Anúncios sem cor definida (Null):', df.color.isnull().sum())
print('Anúncios sem cor definida (Outras):', (df.color == 'Outra').sum())

Anúncios sem cor definida (Null): 37
Anúncios sem cor definida (Outras): 40

In [13]:
def get_color_from_subject(x):
    # Cores encontradas nos anúncios e seus devidos equivalentes
    cores = {
        'lilas':    'Roxo', 
        'red':      'Vermelho',
        'vermelho': 'Vermelho',
        'rose':     'Rosa',
        'branco':   'Branco',
        'roxo':     'Roxo', 
        'preto':    'Preto',
        'gold':     'Dourado'
    }
    
    for c in cores:
        if c in x.subject:
            return cores[c]
        
    return x.color

df['color'] = df.apply(get_color_from_subject, axis=1)
print('Anúncios ainda sem cor:', df.color.isnull().sum())
print('Anúncios ainda com \'Outra\':', (df.color == 'Outra').sum())

Anúncios ainda sem cor: 34
Anúncios ainda com 'Outra': 37

In [14]:
# Removendo NaNs
df.dropna(subset=['color'], inplace=True)
df.shape

(1273, 16)

#### Price

In [15]:
df.dropna(subset=['price'], inplace=True)
df.shape

(1269, 16)

#### eletronicsCondition

In [16]:
df.dropna(subset=['eletronicsCondition'], inplace=True)
df.shape

(1262, 16)

#### batteryHealth

In [17]:
df.dropna(subset=['batteryHealth'], inplace=True)
df.shape

(1198, 16)

### Tamanho do título

In [18]:
df['subjectLength'] = df.subject.apply(lambda x: len(x))

### Colunas categóricas

In [19]:
columns = ['region', 'areaCode', 'eletronicsModel', 'storage', 'color', 'batteryHealth', 'eletronicsCondition']
df[columns] = df[columns].astype('category')

In [20]:
df.isna().any()

adDate                 False
region                 False
zipcode                False
areaCode               False
category               False
paidPromotion          False
subject                False
eletronicsModel        False
storage                False
color                  False
batteryHealth          False
eletronicsCondition    False
price                  False
pictures               False
sellerName             False
storageGB              False
subjectLength          False
dtype: bool

### Saving

In [21]:
df.to_csv('../data/iphone-olx-ce.csv')